body {
	background-color: lightblue;
	background-image: url("../images/background.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
h1 {
	color: yellow;
}

.home_button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: gray;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin:10px;
}

.home_button:hover {background-color: #3e8e41}

.home_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}